/* Mike World TM, (CC BY-NC) Attribution-NonCommercial

READ ME: https://www.behance.net/gallery/181447165/Google-Calendar-Dark-Mode-CSS
*/
/* ███ CUSTOM COLOR ███ */
/* --- Main Nav Bar --- */
/* Header bar*/ header.gb_Na  {
    background-color: #191B2C !important;
} 

/* Logo */ header.NkK3Fc span[role=heading] {
    color: white !important;
}

/* DatePicker */ .q1j8lf {
    background-color: #191B2C !important;
}

/* Week Counter */ .KPyFeb.C0t7Sd.HAir {
    background-color: #12152B !important;
    color: white !important;
}

/* --- SideBar Menu --- */
/* Sidebar */ .SGWAac {
    background-color: #191B2C !important;
}

/* --- Calendar Frame --- */
/* Title on box-event Text */ .FAxxKc {
    color: #191B2C;
}

/* Time on box-event Text */ .Jmftzc.gVNoLb.EiZ8Dd {
    color: #191B2C;
}

/* --- Event Frame --- */
/* Input Text */ .VfPpkd-fmcmS-wGMbrd {
    color: white !important;
}

/* OnBackground Text */ .VfPpkd-V67aGc {
    color: white !important;
}

/* Buttons Text */ span.VfPpkd-vQzf8d {
    color: white !important;
}

/* Form Dropdown Select */ ul.VfPpkd-rymPhb.r6B9Fd.bwNLcf.P2Hi5d.VfPpkd-OJnkse {
    background: #2D314F !important; 
}

/* Form Dropdown Select Text */ .VfPpkd-rymPhb-fpDzbe-fmcmS {
    color: white !important;
}

/* Form Dropdown - Calendar Select */ .OA0qNb.ncFHed {
    background: #2D314F !important; 
}

 /* Form Fields */ label.VfPpkd-fmcmS-yrriRe.VfPpkd-fmcmS-yrriRe-OWXEXe-mWPk3d.VfPpkd-ksKsZd-mWPk3d.VfPpkd-fmcmS-yrriRe-OWXEXe-di8rgd-V67aGc.VfPpkd-fmcmS-yrriRe-OWXEXe-MFS4be.WmnPA.gOPnwc {
    background: #2D314F;
}

/* Form Dropdown */ .hqBSCb:not(.VfPpkd-O1htCb-OWXEXe-OWB6Me) .VfPpkd-TkwUic {
    background: #2D314F !important; 
}

/* Dropdown Text */ .VfPpkd-uusGie-fmcmS {
    color: white !important;
}

/* --- Global Elements --- */
/* Dropdown buttons */ .VfPpkd-Jh9lGc {
    background: #2D314F !important;
}

/* Dropdown buttons Text */ span.VfPpkd-StrnGf-rymPhb-b9t22c {
    color: white;
}

/* Dropdown */ .INBYpd:not(:disabled).VfPpkd-ksKsZd-mWPk3d-OWXEXe-AHe6Kc-XpnDCe, .q6oraf .VfPpkd-StrnGf-rymPhb, .OwNvm {
    color: white;
    background: #2D314F ;
}

/* horizontal dividers */ body[data-viewfamily=EVENT] .SGWAac, body[data-viewfamily=SCHEDULE] .SGWAac, body[data-viewfamily=SEARCH] .SGWAac, body[data-viewfamily=SETTINGS] .SGWAac, body[data-viewfamily=TRASH] .SGWAac, body[data-viewfamily=TASKS] .SGWAac {
    border-color: #414872 !important;
} 

/* Scrollbar */ ::-webkit-scrollbar-thumb {
    background-color: #414872 !important;
}

/* AlertDialog*/ .VfPpkd-P5QLlc {
    background: #2D314F !important;
}

/* AlertDialog Text*/ .VfPpkd-k2Wrsb-fmcmS {
    color: white;
}

:root {
  --primary: #8C9BF4 !important; /* Current day */ 
  --surface: #1D1F2B !important; /* Background */
  --secondary-variant: #414872 !important;  /* Selectioned days */
  --textfield-surface: #2D314F !important; /* Fields & Week Row */
  --on-surface: white !important; /* Text Color on background */
  --fab: rgb(65 72 114 / 50%) !important; /* Transparent Button */
  --fab-hover: #414872 !important; /* Hover on Transparent Button */
}

/* ███ HIDEN THINGS ███ */
/* Right SidePanel */ .Kk7lMc-DWWcKd-OomVLb-haAclf.gboEAb {
    display: none !important;
}

/* Google Apps */ .gb_d {
    display: none !important;
}

/* Support button */ .h8Aqhb {
    display: none !important;
}

/* Testing para ocultar el bloque en Event frame*/ .gb_Na:not(.gb_Oa) .gb_od {
    padding: 0px;
}